<h2 class="products__title">Nuestros Servicios</h2>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4 text-center" [@LeftEnter]="'enter'">
            <img src="../../../assets/productOne.jpg" alt="Producto Uno" class="img-fluid">
            <h4>Marketing Digital</h4>
        </div>
        <div class="col-xs-12 col-md-4 text-center" [@StaticAppear]="'enter'">
            <img src="../../../assets/productTwo.png" alt="Producto Dos" class="img-fluid">
            <h4>Promoción de productos y servicios a través de las Campañas inteligentes de Google</h4>
        </div>
        <div class="col-xs-12 col-md-4 text-center products__col3" [@RightEnter]="'enter'">
            <img src="../../../assets/productThree.png" alt="Producto Tres" class="img-fluid">
            <h4 class="products__card__title">Marketing tradicional</h4>
        </div>
    </div>
</div>
