.contact__header {
    width: 100%;
    height: 50px;
    background: rgb(36, 36, 36);
    padding: 10px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: relative;
    margin-top: 90px;
}

.contact__header .contact__tittle {
    color: white;
    text-align: center;
}

.contact__body {
    display: flex;
    height: calc(100vh - 260px);
    margin-top: 10px;
    overflow: auto;
}

.contact__form {
    flex: 1.2;
    height: 100%;
    padding: 20px;
    padding-left: 0;
    position: relative;
}

.contact__form::after,
.contact__qr::after {
    content: '';
    width: 3px;
    height: 100%;
    background: rgb(36, 36, 36);
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.4;
}

.contact__form .input-group {
    margin-bottom: 10px;
}

.contact__qr {
    flex: 1;
    height: 100%;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.contact__qrCode {
    max-width: 250px;
}

.contact__qr__info {
    position: absolute;
    bottom: 0;
    width: 90%;
}

.contact__qr__info hr {
    background: #41A8E8;
    height: 3px !important;
    margin: 5px;
}

.contact__qr>img {
    max-width: 250px;
}

.contact__qr h3 {
    font-size: 16px;
}

.contact__qr h5 {
    color: gray;
    font-size: 14px;
}

.contact__qr__networks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

.contact__qr__networks a {
    flex-grow: 1;
    width: 48px;
    padding: 5px;
    transition: transform .8s ease-in-out;
    text-align: center;
}

.contact__qr__networks a img {
    width: 100%;
    max-height: 75px;
    max-width: 75px;
    opacity: .8;
}

.contact__qr__networks a:hover {
    cursor: pointer;
    transform: rotate(360deg);
}

.contact__qr__networks a img:hover {
    cursor: pointer;
    transform: rotate(360deg);
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgb(82, 82, 82));
    border-radius: 50%;
    z-index: 2;
}

.contact__map {
    flex: 1.5;
    height: 100%;
    position: relative;
    z-index: 1;
}

.contact__btn__sendMessage {
    width: calc(100% - 20px);
    background-color: #41A8E8 !important;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 10px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .contact__header {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 0;
        margin-top: 75px;
    }
    .contact__body {
        display: block;
        margin-top: 5px;
        padding-left: 0;
        height: 100%;
    }
    .contact__form {
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .contact__form::after,
    .contact__qr::after {
        content: none;
        display: none;
    }
    .contact__btn__sendMessage {
        position: relative;
        width: 100%;
        margin-top: 10px;
    }
    .contact__qr img {
        width: 50%;
    }
    .contact__qr__info {
        position: relative;
        overflow: auto;
    }
    .contact__qr>div {
        display: flex;
        flex-direction: row;
    }
    .contact__map {
        height: 400px;
        margin-bottom: 50px;
    }
}

@media (min-width: 770px) and (max-height: 586px) {
    .contact__qrCode {
        max-width: 90px;
    }
    #exampleFormControlTextarea1 {
        height: 20px;
    }
}

@media (min-height: 586px) and (max-height: 719px) {
    .contact__qrCode {
        max-width: 120px;
    }
}

@media (min-width: 1200px) and (max-height: 726px) {
    .contact__qrCode {
        max-width: 130px;
    }
    #exampleFormControlTextarea1 {
        height: 150px;
    }
}

@media (min-width: 1200px) and (min-height: 670px) {
    .contact__qrCode {
        max-width: 180px;
    }
}

@media (min-width: 1200px) and (min-height: 775px) {
    .contact__qrCode {
        max-width: 100%;
    }
}

@media only screen and (max-width: 450px) {
    .contact__qr {
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 0;
    }
    .contact__qrCode {
        max-width: 250px;
    }
}

@media only screen and (max-width: 320px) {
    .contact__qrCode {
        max-width: 100px;
        max-height: 100px;
        margin-top: 50px;
    }
}