<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center">
            <video controls>
          <source src="../../../assets/video.MP4" type="video/mp4">
        </video>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="row">
                <button type="button" class="btn btn-primary home__btn__contactanos" data-bs-toggle="modal" data-bs-target="#subscribeModal">
                  <span>Dejanos contactarte</span>
                  <fa-icon [icon]="faPaperPlane" style="color: white;"></fa-icon>
                </button>
            </div>
            <div class="row">
                <div class="home__description">
                    <h2>E-Smark 4U</h2>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>