video {
    width: 100%;
    max-width: 380px;
}

.home__btn__contactanos {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    background-color: #41A8E8 !important;
}

.home__products {
    width: 100%;
    padding: 50px;
}

.home__largeLogo {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.home__video iframe {
    max-height: 250px;
}

@media (max-width: 768px) {
    video {
        max-width: 100%;
    }
    .home__btn__contactanos {
        margin-top: 20px;
    }
    .home__description {
        margin-top: 10px;
    }
    .home__products {
        width: 100%;
        padding: 0;
    }
    .home__products div:nth-child(3) {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .home__products div:nth-child(2) {
        display: none;
    }
}
