.footer {
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #000000;
    color: white;
    text-align: center;
    z-index: 2;
}

.footer span {
    margin: 10px;
    font-weight: bold;
}

.footer__logo {
    max-width: 96px;
    max-height: 64px;
    background-color: transparent;
    border: none;
    opacity: .8;
    filter: grayscale(70%);
}
