<h2 class="mb-3 text-center">Quiénes Somos</h2>
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-12" [@listAnimation]="aboutUsParagraphs.length">
            <p *ngFor="let item of aboutUsParagraphs">
                {{ item }} <br>
            </p>
        </div>
        <div class="col-md-6 col-sm-12">
            <div @imageAnimation>
                <app-carousel></app-carousel>
                <div class="aboutUs__btn__contact">
                    <button type="button" class="btn btn-primary btn-block btn-sm" data-bs-toggle="modal" data-bs-target="#subscribeModal">
                <span>Dejanos contactarte</span>
                <fa-icon [icon]="faPaperPlane" style="color: white;"></fa-icon>
              </button>
                </div>
            </div>
        </div>
    </div>
</div>
