/* .app {
    position: relative;
} */

.app__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.app__header img {
    width: 70px;
    margin-top: 10px;
    margin-right: 30px;
}

.app__header app-header {
    width: calc(100% - 60px);
}

.app__content {
    width: 80%;
    margin: 40px auto;
    margin-top: 90px;
    position: relative;
}

.faq__btn {
    position: fixed;
    right: -40px;
    top: 40%;
}

.faq__icon {
    transform: rotate(-90deg);
    width: 64px;
}

.faq__btn:hover {
    right: -20px;
    transition: transform 1.5s ease-in-out;
    cursor: pointer;
}

@media (max-width: 768px) {
    .app__header img {
        display: none;
    }
    .app__header app-header {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .app-faq {
        display: none;
    }
    .app__content {
        width: 95%;
    }
    .header__content__responsive {
        margin-top: 280px;
    }
}

@media only screen and (max-width: 450px) {
    .app__content {
        margin-bottom: 70px;
    }
}
