<div class="app__header">
    <app-header (outputClass)="classClickMenu($event)"></app-header>
    <img src="../assets/Logo.jpg" alt="Logo E-Smark 4U" />
</div>
<div class="app__content" [class]="classCustomContent">
    <router-outlet></router-outlet>
</div>
<button type="button" class="btn btn-outlined faq__btn" data-bs-toggle="modal" data-bs-target="#faqModal">
  <img src="../assets/faq.png" alt="FAQ Questions" class="faq__icon"/>
</button>
<app-faq></app-faq>
<div class="app__social">
    <app-chatbot></app-chatbot>
</div>
<app-subscribe-dialog></app-subscribe-dialog>
<app-footer></app-footer>
