nav {
    width: 95%;
    height: 44px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    top: 10px;
}

li {
    position: relative;
}

li::after {
    content: '';
    width: 1px;
    height: 20px;
    top: 10px;
    position: absolute;
    background: white;
    opacity: 0.5;
}

li {
    opacity: 0.7;
}

li a {
    color: white !important;
}

.active {
    opacity: 1;
    font-weight: bold;
}

.nav__icon {
    color: white !important;
}

@media (max-width: 768px) {
    nav {
        width: 100%;
        height: auto;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        top: 0;
    }
    .header__icon__menu {
        display: none;
    }
    li::after {
        content: none;
    }
}
