<nav class="navbar navbar-expand-md navbar-light" style="background-color: #000000;">
    <div class="container-fluid">
        <a class="navbar-brand header__icon__menu" [routerLink]="['Home']">
            <fa-icon [icon]="faHome" style="color: white;"></fa-icon>
        </a>
        <button class="navbar-toggler" type="button" (click)="clickMenu()" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span>
            <fa-icon [icon]="faBars" style="color: white;"></fa-icon>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['Home']">Inicio</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['About']">Quienes Somos</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['Services']">Servicios</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['Cases']">Casos de Exito</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['Contact']">Contactenos</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="loged">
                    <a class="nav-link" [routerLink]="['Stats']">Estadisticas</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="!loged">
                    <a class="nav-link" [routerLink]="['Login']">Ingresar</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="loged">
                    <a class="nav-link" (click)="logOut()">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
