<div class="modal fade" tabindex="-1" aria-hidden="true" id="faqModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header faq__header">
                <h5 class="modal-title">Preguntas frecuentes</h5>
                <input class="form-control" type="search" placeholder="Buscar" aria-label="Search" (keyup)="onKey($event)" value="{{search}}">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onKey({target: { value: ''}})"></button>
            </div>
            <div class="modal-body">
                <div id="accordion">
                    <div class="card" *ngFor="let item of listQuestions, let i=index">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn" data-toggle="collapse" [attr.data-target]="'#' + item.id" aria-expanded="false">
                                  {{ item.question }}
                                </button>
                            </h5>
                        </div>

                        <div id={{item.id}} [ngClass]="{'collapse': true, 'show': i == 0}" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                {{ item.answer }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>