<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-flex align-items-center justify-content-center login">
                <div class="login__container">
                    <img src="../../../assets/Logolg.jpeg" alt="" class="img-fluid mx-auto d-block">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="user" name="user">
                            <small id="emailHelp" class="form-text text-muted">E-Smark 4U nunca compartirá tu correo con nadie más.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password" name="password">
                        </div>
                        <button *ngIf="state == 0" type="submit" class="btn btn-primary btn-block" (click)="login()">Entrar</button>
                        <div *ngIf="state !== 0" class="login__loading">
                            <div class="spinner-grow text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-secondary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-success" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-danger" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-warning" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-info" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-dark" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-success" role="alert" *ngIf="state == 1">
    Ha ingresado correctamente.
</div>

<div class="alert alert-danger" role="alert" *ngIf="state == 2">
    Ha ocurrido un error al ingresas al sistema.
</div>
