.cases h2 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.cases p {
    text-align: center;
    font-size: 18px;
}

.container {
    overflow: hidden;
}

.cases__item:last-child {
    margin-bottom: 15px;
}

hr {
    color: #41A8E8;
}

.container button:hover {
    background: #41A8E8 !important;
    font-weight: bold;
}

.cases__item hr {
    margin-top: 20px;
    margin-bottom: 30px;
}

.cases__showMore {
    text-align: end;
}

.cases__company {
    text-align: center;
    margin-bottom: 15px;
}

.cases__company img {
    max-height: 350px;
}

.cases__company__contact {
    background: #41A8E8 !important;
    font-weight: bold;
}

.modal-header {
    position: relative;
}

.close {
    background: red;
    margin: 0;
    opacity: .6;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.cases__company__body {
    margin-left: 20px;
    margin-right: 20px;
}

.cases__company__next {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    right: 0;
}

.cases__company__previous {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 0;
    transform: rotate(180deg);
}

.cases__img__company {
    cursor: pointer;
}

#modal-fullscreen-xl {
    padding: 0px !important;
}

.full__dialog {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

.modal-fullscreen-sm-down .modal-content {
    height: 100vh;
}

.cases__company__imgTmp {
    max-width: 350px;
}

.cases__surprise__body {
    overflow: auto;
}

.cases__surpise {
    width: 100%;
    text-align: center;
}

.cases__btn__surprise {
    background-color: transparent !important;
    border: none;
}

.cases__btn__surprise {
    outline: 0;
}
